/* Container principal */
.code-area {
    -fx-background-color: #1E1F22;
    -fx-highlight-fill: #3A3D41;
}

.code-area .text {
    -fx-fill: #F5F5F5; /* Branco */
    -fx-font-family: "JetBrains Mono Medium" !important;
    -fx-font-size: 16px;
}

/* Números de linha */
.lineno-container {
    -fx-background-color: #1E1F22;
    -fx-border-color: #404040;
    -fx-border-width: 0 1px 0 0;
    -fx-padding: 0 50px 0 0;
}

.lineno-label {
    -fx-text-fill: #86898F !important;
    -fx-alignment: center-right;
    -fx-padding: 0 5px 0 0;
}

/* Linha atual */
.code-area:focused .paragraph-box:has-caret {
    -fx-background-color: #2A2D31;
}

/* Cursor */
.code-area .caret {
    -fx-stroke: #F2F2F2;
    -fx-stroke-width: 1.5px;
}

/* Seleção de texto */
.code-area .selection {
    -fx-fill: rgba(173, 216, 230, 0.3);
}

/* ScrollBar */
.scroll-bar:vertical {
    -fx-background-color: #1E1F22;
}

.scroll-bar .thumb {
    -fx-background-color: #404040;
}