.keyword {
    -fx-fill: #569CD6 !important; /* Azul para palavras-chave */
}
.comment {
    -fx-fill: #808080 !important; /* Cinza para comentários */
}
.number {
    -fx-fill: #B5CEA8 !important; /* Verde para números */
}
.string {
    -fx-fill: #CE9178 !important; /* Cor laranja para strings */
}
.error {
    -fx-underline: true !important;
    -fx-fill: red !important;
}
.code {
    -fx-fill: #D3D3D3 !important;
}