.text-field {
    -fx-text-fill: white;
  /*  -fx-background-color: #3c3c3c; */
   /* -fx-border-color: black; */
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.text-field:hover {
-fx-border-color: #3574F0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,255,0.5), 10, 0, 0, 0);
}

.text-field:focused {
/*-fx-border-color: #3574F0; */
    -fx-effect: dropshadow(gaussian, rgba(0,0,255,1.0), 10, 0, 0, 0);
}